html{
    height: 100%;
    font: 14px;
}

body{
    margin: 0;
    padding: 0;
    font-family: 'Amatic SC', cursive;
    font-family: 'Kanit', sans-serif;
    height: 100%;
}

header{
    height: 15%;
    background-color: #93a685;
}

#main-container{
    display: flex   ;
    flex-direction: column;
    padding: 0;
    align-items: center;
    height: 85%;
    background-color: #a4b995;

}

#menu{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    height: 250px;
    background-color: #edffe1
    ;
    width: 100%;


}

#menu>div{
    display: flex;
    gap: 30px;
}

.playButton{
    height:  150px;
    width: 170px;
    font-size: 3.5rem;
    font-weight: bold;
    border:  0;
    color: #35423d;
    background-color: #a0a282;
    border-radius: 20%;
    transition:  transform 125ms ease-in;
    -webkit-user-select: none; /* Safari */        
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+/Edge */
    user-select: none; /* Standard */
}

.playButton:hover{
    transform: scale(1.05);
}

.selected{
    border: 3px solid red;
}

#game-box{
    margin-top: 30px;
    display: grid;
    grid-template:
    'cell-1 cell-2 cell-3'
    'cell-4 cell-5 cell-6'
    'cell-7 cell-8 cell-9';
    column-gap: 5px;
    row-gap: 1px;
    height: 470px;
    width: 465px;
    background-color:   black;
    align-items: center;
    justify-content: center;
    transition: opacity 0.4s ease-in-out;


}

.cell{
    font-size: 10rem;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 150px;
    width: 150px;
    background-color: white;
    border: 1px solid #a1a09d;
}

.hidden{
    opacity: 0;

    transition: opacity 0.4s ease-in-out;
}

@media only screen and (max-width: 600px){
    #game-box{
        height: 300px;
        width: 300px;
    }
    .cell{
        height: 100px;
        width: 100px;
        font-size: 5rem;
    }
}